.container{
  border: 1px solid black;
  margin: auto;
  width: 44.3%;
  min-width: 845px;
  min-height: 700px;
  background-color: rgb(36, 31, 49);
  display: flex;
  flex-wrap: wrap;
}

.sidePannel{
  width: 83%;
}