@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.container{
  color: white;
  padding: 1%;
  height: 100%;
  width: 11%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 20px;
  min-height: 730px;
  justify-content: space-between;
}

.roundCount{
  border: 1px solid white;
  max-width: 120px;
  width: 120px;
  height: 50px;
  font-size: 55px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: "Black Ops One", Arial;
}

.players{
  margin-top: 10px;
}

.upload{
  width: 100%;
  display: none;
}

.uploadContainer{
  display: flex;
  flex-direction: column;
}

.labelInput{
  width: 100px;
  height: 30px;
  padding-left: 10px;
  border-radius: 8px;
  padding-top: 10px;
  background-color: rgb(80, 27, 144);
  padding-bottom: 5px;
  margin-left: 5px;
}