.container{
  color: white;
  padding: 1%;
  height: 100%;
  width: 11%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.roundCount{
  border: 1px solid white;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
}

.players{
  margin-top: 10px;
}

.upload{
  width: 100%;
}

.uploadContainer{
  display: flex;
  flex-direction: column;
}