.container{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  height: 97.5%;
  width: 10%;
}

.roundCount{
  border: 1px solid white;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: right;
}

.players{
  margin-top: 10px;
}